{% extends "bagian/base.html" %}

{% block extra_css %}
<!-- Datatables -->
<link href="{{ url_for('static', filename='assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
    rel="stylesheet">
<link href="{{ url_for('static', filename='assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ url_for('static', filename='assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ url_for('static', filename='assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ url_for('static', filename='assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
    rel="stylesheet">
{% endblock %}

{% block content %}
<div class="">
    <div class="page-title">
        <div class="title_right">
            <h2>Surat Masuk > <small>Data Surat Masuk</small></h2>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Data<small>Surat Masuk</small></h2>
                    <div class="clearfix"></div>
                </div>

                <form action="{{ url_for('bagian_laporan_surat_masuk') }}" method="post"
                    class="form-horizontal form-label-left">
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <select name="bulan" class="form-control" required>
                            <option value="">Pilih Bulan</option>
                            <option value="01">Januari</option>
                            <option value="02">Februari</option>
                            <option value="03">Maret</option>
                            <option value="04">April</option>
                            <option value="05">Mei</option>
                            <option value="06">Juni</option>
                            <option value="07">Juli</option>
                            <option value="08">Agustus</option>
                            <option value="09">September</option>
                            <option value="10">Oktober</option>
                            <option value="11">November</option>
                            <option value="12">Desember</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <select name="tahun" class="form-control" required>
                            <option value="">Pilih Tahun</option>
                            {% for y in range(2005, 2041) %}
                            <option value="{{ y }}">{{ y }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="fa fa-download"></i> Unduh Laporan</button>
                </form>

                <div class="x_content">
                    {% if surat_masuk %}
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="3%">No Urut</th>
                                <th width="10%">Tanggal Masuk</th>
                                <th width="3%">Kode Surat</th>
                                <th width="10%">Tanggal Surat</th>
                                <th width="14%">Pengirim</th>
                                <th width="15%">Nomor Surat</th>
                                <th width="10%">Kepada</th>
                                <th width="25%">Perihal</th>
                                <th width="15%">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for surat in surat_masuk %}
                            <tr>
                                <td>{{ surat.nomorurut_suratmasuk }}</td>
                                <td>{{ surat.tanggalmasuk_suratmasuk }}</td>
                                <td>{{ surat.kode_suratmasuk }}</td>
                                <td>{{ surat.tanggalsurat_suratmasuk }}</td>
                                <td>{{ surat.pengirim }}</td>
                                <td>{{ surat.nomor_suratmasuk }}</td>
                                <td>{{ surat.kepada_suratmasuk }}</td>
                                <td>{{ surat.perihal_suratmasuk }}</td>
                                <td style="text-align:center;">
                                    <a href="{{ url_for('static', filename='uploads/' + surat.file_suratmasuk) }}"
                                        class="btn btn-success btn-xs" target="_blank"><i
                                            class="fa fa-download"></i></a>
                                    <a href="#" class="btn btn-info btn-xs" title="Detail (WIP)"><i
                                            class="fa fa-file-image-o"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <center>
                        <h2>Belum Ada Data Surat Masuk</h2>
                    </center>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Datatables -->
<script src="{{ url_for('static', filename='assets/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendors/jszip/dist/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>
{% endblock %}