{% extends "bagian/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="">
            <div class="x_content">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <br><br>
                            <center>
                                <h1><b>Selamat Datang, {{ session.get('nama_bagian') }}</b></h1>
                            </center>
                            <br><br>
                        </div>
                    </div>

                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-inbox"></i></div>
                            <div class="count">{{ jumlah_masuk }}</div>
                            <h3>Surat Masuk</h3>
                            <p>Telah diarsipkan</p>
                        </div>
                    </div>

                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-send"></i></div>
                            <div class="count">{{ jumlah_keluar }}</div>
                            <h3>Surat Keluar</h3>
                            <p>Telah Diarsipkan</p>
                        </div>
                    </div>

                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-group"></i></div>
                            <div class="count">{{ jumlah_bagian }}</div>
                            <h3>Bagian</h3>
                            <p>Telah Didaftarkan</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}